<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.nftips.kunpeng.orm.mapper.NftTradingInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.nftips.kunpeng.orm.entity.NftTradingInfoEntity">
        <id column="id" property="id"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
        <result column="ntf_id" property="ntfId"/>
        <result column="ntf_name" property="ntfName"/>
        <result column="trading_hash" property="tradingHash"/>
        <result column="trading_type" property="tradingType"/>
        <result column="category_id" property="categoryId"/>
        <result column="sender" property="sender"/>
        <result column="recipient" property="recipient"/>
        <result column="amount" property="amount"/>
        <result column="height" property="height"/>
        <result column="energy_value" property="energyValue"/>
        <result column="occur_time" property="occurTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        gmt_create,gmt_modify,
        id, ntf_id, ntf_name, trading_hash, trading_type, category_id,
        sender, recipient, amount, height, energy_value, occur_time
    </sql>
    <select id="selectTopN" resultType="io.nftips.kunpeng.orm.entity.NftTopInfoEntity">
        WITH trade AS (
            -- 计算NFT交易数，不同的事件类型代表不同的含义
            SELECT category_id,
                   trading_type,
                   COUNT(1) AS cnt
            FROM bsn_nft_info
            GROUP BY category_id,trading_type
        ),
         trade_time AS (
             SELECT info.category_id,
                    DATEDIFF(MAX(info.occur_time), MIN(info.occur_time)) AS diff_time
             FROM bsn_nft_info info
             WHERE info.trading_type = "transfer_nft"
             GROUP BY category_id
         ),
         avg_time AS (
             -- 计算持仓平均时间
             SELECT tt.category_id,
                    IFNULL(IFNULL(tt.diff_time, 0) / IFNULL(t.cnt,1), 1) AS avg_time
             FROM trade_time tt
                LEFT JOIN trade t
                ON tt.category_id = t.category_id
             WHERE t.trading_type = "transfer_nft"
         ),
         chg AS (
             -- 计算涨跌幅，近半年
             SELECT category_id,

             FROM bsn_nft_trading_info
         ),
         worth AS (
             -- 投资指数 = 一年内转手次数 * 30% + 一年内平均转手时间 * 20% + 一年内涨跌幅 * 50%
             SELECT t.category_id,
                    (IFNULL(t.cnt, 0) * 0.3 + IFNULL(at.avg_time, 0) * 0.2) AS worth
             FROM trade t
                JOIN avg_time at
                ON t.category_id = at.category_id
             WHERE t.trading_type = "transfer_nft"
         )
        SELECT *
        FROM bsn_nft_info bni
        JOIN worth w
        ON bni.category_id = w.category_id
        GROUP BY bni.category_id
    </select>
</mapper>
